.header {
    grid-area: h;
    background-color: gold;
    height: 60px;
  }
  
  .img {
    width: 62px;
    height: 60px;
  }

  .logonBlock {
    float: right;
  }
  
  .logonBlock a {
    text-decoration: none;
  }