.content {
    grid-area: c;
    
  }
 
  .descriptionBlock {
    padding: 10px;
  }

  .userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.inputFile {
  color: transparent;
  width: 70px;
}
