.nav {
    grid-area: n;
    background-color: red;
    padding: 20px;
  }

  .item a {
      color: black;
      text-decoration: none;
  }

  .item a.activeLink {
      color: rgb(197, 51, 51);
  }
  